body {
    color:rgb(198, 201, 172);
    background-color: rgb(37, 37, 37);
    /*font-family: "Noto Sans Nandinagari", sans-serif;*/
    /*font-family: "Roboto Mono", sans-serif;*/
    font-family: "Syne Mono", monospace;
    margin: auto;
    max-width: 900px;
    min-width: 600px;
}
h1 {
    font-size: 3em;
    padding-top: 50px;
}
a {
    color:rgb(198, 201, 172);
}
.project {
    padding-top: 30px;
    padding-left: 0px;
}
.code {
    /* color:rgb(221, 226, 159); */
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
    font-family: "Light 300", monospace;
}
.column {
    float: left;
    width: 48%;
    padding: 5px;
}
.summary {
    padding-left: 30px;
}
img {
    width: 5%;
}
.social {
    padding-right: 30px;
}